html {
  overflow-x: hidden;
}

.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.error {
    text-align: center;
}

.simple-message {
  text-align: center;
}

.back-link {
	color: #F2F2F2;
	text-decoration: none !important;
}

.back-link:hover {
	color: #F2F2F2;
	text-decoration: none !important;
}

.nav-item-title {
  margin-left: 30px;
  padding-top: 17px !important;
  padding-bottom: 10px !important;
  line-height: 13px !important;
  color: #F2F2F2;
  z-index: 999 !important;
}

.app-name {
	padding-top: 15px !important;
	font-size: 24px;

}

@media (max-width: 767px) {
  .collapse {
    display: block !important;
    height: 30px !important;
    margin-top: -12px !important;
  }
}

@media (max-width: 1366px) {
  .collapse {
    display: block !important;
    height: 30px !important;
  }
}

@media (max-width: 1980px) {
  .collapse {
    display: block !important;
    height: 30px !important;
  }
}

.loading {
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    filter:alpha(opacity=60); /* IE */
    -moz-opacity:0.6; /* Mozilla */
    opacity: 0.6; /* CSS3 */
    height: 86%;
}
