<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>App</title>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">

	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>

	<script src="js/app.js"></script>
	<script src="js/contants/contants.js"></script>

	<script src="js/controllers/indexCtrl.js"></script>
	<script src="js/services/todoAPIService.js"></script>

</head>
<body ng-controller="indexCtrl">
	<form>
			<input type="text" ng-model="todo.text">
			<button type="button" ng-click="insert(todo)">Save</button>
	</form>

	<ul>
			<li ng-repeat="todo in todos">
				<p>{{todo._id}} - {{todo.text}}
					<button class="button" ng-click="remove(todo)">Remove</button>
					<button class="button" ng-click="findById(todo._id)">FindById</button>
				</p>
			</li>
	</ul>

</body>
</html>
