<div class="row" ng-if="error">
   <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
       <div class="bs-component"><div class="alert alert-dismissible alert-danger">{{error}}</div></div>
   </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
         <table class="table table-striped table-hover ">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Text</th>
                  <th>Completed</th>
                  <th>Delete</th>
                  <th>Find</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="todo in todos">
                  <td>{{todo._id}}</td>
                  <td>{{todo.text}}</td>
                  <td>{{todo.completed}}</td>
                  <td><button class="btn btn-primary btn-sm" ng-click="remove(todo)">Remove</button></td>
                  <td><button class="btn btn-primary btn-sm" ng-click="findById(todo._id)">FindById</button></td>
               </tr>
            </tbody>
         </table>
    </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <div class="page-header">
         <h4>Form</h4>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <form>
       <div class="form-group">
          <label class="control-label">Text</label>
          <input class="form-control" type="text" ng-model="todo.text" placeholder="Type text..."> </br>
          <button type="button" class="btn btn-primary" ng-click="insert(todo)">Save</button>
       </div>
    </form>
  </div>
</div>
