<nav class="navbar navbar-inverse">
   <div class="container-fluid-">
      <div class="collapse">
         <ul class="nav navbar-nav">
           <li>
              <h5 class="nav-item-title">
                <a href="#/{{breadcrumbs.url}}" class="back-link">
                   {{breadcrumbs.title}}
                </a>
              </h5>
           </li>
         </ul>
      </div>
   </div>
</nav>

<ul class="breadcrumb" style="margin-top: -22px;">
   <li><a href="#/dashboard">Home</a></li>
   <li class="active">Library</li>
</ul>

<div class="container">

   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
         <div class="simple-message" ng-if="error">{{error}}</div>
         <div class="simple-message" ng-if="message">{{message}}</div>
         <div class="simple-message" ng-if="!todos.length"><span>No results.</span></div>
      </div>
   </div>

   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <a ng-repeat="todo in todos" href="#/todo.utd/{{todo._id}}" class="list-group-item">
           <h4 class="list-group-item-heading">{{todo.text}}</h4>
           <p class="list-group-item-text">Completed: {{todo.completed}} Id: {{todo._id}}</p>
        </a>
      </div>
   </div>

   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        </br>
      </div>
   </div>

   <div class="row">
       <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-5">
           <div class="btn-group btn-group-justified">
              <a href="#/todo.add" class="btn btn-default">Add</a>
           </div>
       </div>
   </div>

</div>
