<div class="main-nav">
    <div class="left-child"><a href="#/todo.get"><h5>Back</h5></a></div>
    <div class="center-child"><h5>New Todo</h5></div>
</div>

<div class="separator"></div>

<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
           <form name="form">
                <div class="form-group">
                   <label class="control-label">Text</label>
                   <input class="form-control" type="text" ng-model="todo.text" placeholder="Type text..." 
                          ng-required="true" name="text" ng-minlength="5"/>
                   <div ng-show="form.text.$dirty" ng-messages="form.text.$error">
                       <p class="help-block-error" ng-message="required">Please, type the text!</p>
                       <p class="help-block-error" ng-message="minlength">The text field must be at least 5 characters long.</p>
                   </div>

                </div>
                 
                <button class="btn btn-default btn-lg btn-block" ng-click="insert(todo)" 
                        ng-disabled="form.$invalid">Save</button>
               
          </form>
      </div>
   </div>
</div>
