<div class="main-nav">
    <div class="left-child"><a href="#/todo.get"><h5>Back</h5></a></div>
    <div class="center-child"><h5>Todo Update</h5></div>
</div>

<div class="separator"></div>

<div class="container">

  <div class="row">
     <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div class="simple-message" ng-if="error">{{error}}</div>
        <div class="simple-message" ng-if="message">{{message}}</div>
     </div>
  </div>

   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
         <form name="form">
            <div class="form-group">
               <label class="control-label">Text</label>
               <input class="form-control" type="text" ng-model="todo.text" placeholder="Type text..."> </br>
            </div>
            <div class="btn-group btn-group-justified">
                <a class="btn btn-danger" ng-click="remove(todo)">Delete</a>
                <a class="btn btn-default" ng-click="update(todo)">Save</a>
            </div>
         </form>
      </div>
   </div>

</div>
