<div class="main-nav">
    <div class="left-child"><a href="#/dashboard"><h5>Back</h5></a></div>
    <div class="center-child"><h5>Todos</h5></div>
    <div class="right-child"><a href="#/todo.add"><h5>Add</h5></a></div>
</div>

<div class="separator"></div>

<div class="container">

   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
         <div class="simple-message" ng-if="error">{{error}}</div>
         <div class="simple-message" ng-if="message">{{message}}</div>
         <div class="simple-message" ng-if="!todos.length"><span>No results.</span></div>
      </div>
   </div>

   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <a ng-repeat="todo in todos" href="#/todo.utd/{{todo.id}}" class="list-group-item">
           <h4 class="list-group-item-heading">{{todo.text}}</h4>
           <p class="list-group-item-text">Id: {{todo.id}}</p>
        </a>
      </div>
   </div>

   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        </br>
      </div>
   </div>

</div>
