html {
  overflow-x: hidden;
}

.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.error {
    text-align: center;
}

.simple-message {
  text-align: center;
}

.loading {
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    filter:alpha(opacity=60); /* IE */
    -moz-opacity:0.6; /* Mozilla */
    opacity: 0.6; /* CSS3 */
    height: 86%;
}

.loading-p {
    margin-top: 20px !important;
}

.main-nav {
    background-color: #2196F3;
    width: 100%;
    height: 64px;
    margin-bottom: 22px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.main-nav a {
    text-decoration: none;
}

.main-nav h5 {
    color: white;
}

.main-nav .left-child {
    line-height: 57px;
    padding-top: 10px;
    padding-left: 20px;
    width: 20%;
    position: absolute;
    text-align: left;
    z-index: 1;
}

.main-nav .center-child {
    line-height: 57px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
}

.main-nav .right-child {
    line-height: 57px;
    padding-top: 22px;
    padding-right: 22px;
    width: 20%;
    float: right;
    text-align: right;
    position: relative;
}

.label-warning, .label-danger, .label-success {
    float: right;
    margin-top: 0px;
    padding-top: 5px;
    font-size: 14px;
}

.main-nav .right-child h5 {
    margin-top: 0px;
    color: #F2F2F2;
}

.main-nav .left-child a {
    color: #F2F2F2;
    text-decoration: none;
}

.list-group-item-single {
    font-size: 20px;
}

.detail-tag {
  margin-top: 6px;
}

.badge {
  margin-top: 7px;
}
